SITE_URL_DOMAIN=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=<db user>
DATABASE_PASSWORD=<db password>
DATABASE_NAME=postgres

GOTRUE_SITE_URL=http://$DATABASE_HOST:3000
GOTRUE_DB_DRIVER=postgres
GOTRUE_JWT_SECRET=<very long secret>
GOTRUE_API_HOST=0.0.0.0
GOTRUE_INTERNAL_URL=http://localhost:9999
GOTRUE_SMTP_HOST=mailpit
GOTRUE_SMTP_PORT=1025
GOTRUE_SMTP_PASS=example
GOTRUE_SMTP_USER=exampleUser
GOTRUE_SMTP_ADMIN_EMAIL=noreply@example.dev
GOTRUE_SMTP_SENDER_NAME=exampleName
API_EXTERNAL_URL=http://$DATABASE_HOST:$DATABASE_PORT/auth